.chat-main
  .chat-main__group-info
    .group-namelist
      .group-name
        = @group.name
      %ul.member-list
        Member:
        %li.member
        - @group.users.each do |users|
          =users.name
    .group-edit
      = link_to 'edit', edit_group_path(@group) ,class: 'edit'

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'input-content', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'Form__submit'




